/* .breadcrum {
  /* border: 1px solid red; */

  /* position: absolute;
  top: 154px;
  left: 130px;
} */
/* .headline > h1 {
 
  width: fit-content;
  margin: auto;
  margin-top: 30px;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  line-height: 30px;
}
.headline > p {
 
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #2d2d2d;
  width: 63%;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

.filter_box {

  background-color: #eeeeee;
  width: 100%;
  height: 120px;
}
.products {
 
  width: 90%;
  margin: auto;
  margin-top: 20px;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
 
  gap: 10px;
}
#items {

  height: 510px;
  width: 100%;

  
}
#items img {
  height: 410px;
  width: 100%;
}

#price_div > h3 {
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #d01345;
}
#name_div {
  margin-top: 11px;
  height: 55px;
}
#name_div > h2 {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #2d2d2d;
}
.loading {
  font-size: x-large;
}
.error {
  font-size: x-large;
} */ 
