
  .breadcrum {
    /* border: 1px solid red; */

    position: absolute;
    top: 154px;
    left: 130px;
  }
  .headline > h1 {
    /* border: 1px solid green; */
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #000000;
    line-height: 30px;
  }
  .headline > p {
    /* border: 1px solid blue; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #2d2d2d;
    width: 63%;
    text-align: center;
    margin: auto;
    margin-top: 30px;
  }

  .filter_box {
    /* border: 1px solid grey; */
    background-color: #eeeeee;
    width: 100%;
    height: 120px;
  }
  .flex_box {
    border: 1px solid blue;
    display: grid;
    grid-template-columns: repeat(2, 12em);
    grid-template-rows: auto;
  }
  .products {
    /* border: 1px solid blue; */
    width: 90%;
    margin: auto;
    margin-top: 20px;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    /* padding: 5px; */
    gap: 10px;
  }
  #items {
    /* border: 1px solid green; */
    height: 510px;
    width: 100%;

    /* margin: auto; */
  }
  #items img {
    height: 410px;
    width: 100%;
  }
  #price_div {
    /* border: 1px solid teal; */
  }
  #price_div > h3 {
    text-align: left;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #d01345;
  }
  #name_div {
    /* border: 1px solid red; */
    margin-top: 11px;
    height: 55px;
  }
  #name_div > h2 {
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #2d2d2d;
  }
  .loading {
    font-size: x-large;
  }
  .error {
    font-size: x-large;
  }


@media only screen and (max-width: 400px) {
  .products {
    /* border: 1px solid blue; */
    width: 90%;
    margin: auto;
    margin-top: 20px;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    /* padding: 5px; */
    gap: 10px;
  }
  .filter_box {
    /* border: 1px solid grey;
      background-color: #eeeeee;
      width: 100%;
      height: 250px; */
    display: none;
  }


  /* .Flex{
      display: grid;
      grid-template-columns: repeat(2,12em);
      grid-template-rows: auto;
    } */

  .headline {
    display: none;
  }
  .headline_box {
    display: none;
  }
  .breadcrum {
    display: none;
  }
}
@media only screen and (max-width: 850px) {
  .products {
    /* border: 1px solid blue; */
    width: 90%;
    margin: auto;
    margin-top: 20px;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    /* padding: 5px; */
    gap: 10px;
  }
  .filter_box {
    /* border: 1px solid grey; */
    /* background-color: #eeeeee;
      width: 100%;
      height: 150px; */

    display: none;
  }
 .flex_box{
    display: none;
 }

  .headline {
    display: none;
  }
  .headline_box {
    display: none;
  }
}
