.logo {
  height: 28;
  width: 93;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 25px;
}

.container {
  width: 650px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: auto;
  /* background-color: red;     */
}

.formHeader {
  border: 1px solid black;
  width: 650px;
  min-height: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
}

.VLine {
  border-left: 2px solid lightgray;
  height: 30px;
}

.form {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 360px;
  gap: 6px;
}

.input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid black;
  background-color: transparent;
  outline: none;
}

.input:focus {
  border: 2px solid rgb(81, 81, 217);
}

.signInBtn {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  color: white;
  background-color: black;
}

.signInBtn:hover {
  background-color: #2d2d2d;
}

.signInBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 460px;
  height: 120px;
  gap: 10px;
  margin: auto;
  margin-top: 60px;
}

.signUpBox {
  display: flex;
  gap: 10px;
  margin: auto;
  justify-content: center;
}

.social {
  background-color: #eeeeee;
  border: none;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: BLACK;
  border: 2px solid lightgray;
  cursor: pointer;
}

.socialJoin {
  cursor: pointer;
  background-color: #eeeeee;
  border: none;
  font-size: 17px;
  font-weight: 600;
  width: 182px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: BLACK;
  border: 2px solid lightgray;
  margin-top: 20px;
  margin-bottom: 20px;
}

.socialJoin:hover,
.social:hover {
  border: 2px solid lightgray;
  color: gray;
}

.socialLogo {
  height: 20px;
  width: 20px;
  margin-right: 15px;
}

.inputDate {
  border: 1px solid black;
  color: black;
  width: 182px;
  height: 50px;
  background-color: transparent;
}

.inputRadio {
  width: 60px;
  height: 60px;
  color: transparent;
  background-color: red;
}

.radioBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.preferenceBox {
  border: 1px solid red;
  width: 360px;
}

.preferenceHeader {
  border: 1px solid green;
  width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preferenceItems {
  border: 1px solid blue;
  width: 360px;
}
.selectBtn {
  width: 112px;
  height: 29px;
  color: #000000;
  border-color: #eeeeee;
}
