.imagebox {
    background-color : rgb(50, 50, 50);
    height: 55px;
    align-items: center;
}

.textfont {
    letter-spacing: 1px;
    color : white;
    font-weight: bold;
}

.brandbox {
    width: 450px;
    height : 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    left : 550px;
    top : -500px;
}

.homebtn {
    color : black;
    letter-spacing: 1px;
}