.slick-arrow.slick-prev,
.slick-arrow.slick-next {
   height: 70px;
   width: 50px;
   /* background-color:#ef2b5c; */
}

.slick-arrow.slick-next{
    /* background-color:  #d87f87; */
}

.sliderdiv{
    height: 280px;
    margin-top: 30px;
}

.cardname {
    height : 40px;
    display: flex;
    justify-content : center;
    align-items: center;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 13px;
    padding: 0px 30px;
    line-height: 15px;
}