* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100fr;
  background-color: #f2f2f2;
  padding: 10px;
}
.header,
.mainBox {
  width: 80%;
  margin: auto;
  
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.logo {
  width: 75px;
  height: 50px;
  margin-left: 20px;
  margin-right: 30px;
}
.checkoutText {
  font-size: 26px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 2.8px;
  color: #2d2d2d;
}
.mainBox {
  display: flex;
}
.leftBox {
  width: 60%;
}
.country {
  background-color: white;
  height: 115px;
}
.countryLeft {
  width: 60%;
  margin-top: 10px;
}
.countryImage {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  /* border: 1px solid gray; */
}
.countryBox {
  display: flex;
  justify-content: stretch;
  margin-top: 10px;
  margin-left: 30px;
  gap: 20px;
}
.countryText {
  font-size: 19px;
  font-weight: 600;
}
.form_controlp_2 {
  outline: none;
  /* border: 1px solid lightgray; */
}
.grid2 {
  background-color: white;
  /* height: 115px; */
  margin-top: 8px;
}
.grid3 {
  background-color: white;
  margin-top: 8px;
}
.grid4 {
  text-align: end;
  background-color: white;
  margin-top: 8px;
}
.boldLargeText {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2.496px;
  padding-left: 30px;
  padding-top: 10px;
  text-align: left;
}
.smallBoldText {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2.496px;
  padding: 15px;
  text-align: left;
  /* padding-top: 10px; */
}
.paraText {
  font-size: 14px;
  font-weight: 400;
  padding-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: left;
}
.addressBtn {
  border: 1px solid black;
  margin: 10px;
}
.payment {
  margin-left: 30px;
}
.pay1 {
  border: 1px solid #999999;
  width: 270px;
  height: 70px;
  display: FLEX;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}
.pay1:hover {
  background-color: lightgray;
}
.pay2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 40px;
  color: #2d2d2d;
  font-weight: 600;
}
.paymentFooter {
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
}

.payBtn {
  width: 510px;
  height: 50px;
  background-color: aquamarine;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2.496px;
  color: white;
}
.rightBox {
  background-color: white;
  width: 40%;
  height:auto;
  margin-top: 10px;
  margin-left: 12px;
  position: sticky;
  padding-bottom: 10px;
  top: 0;
  overflow: hidden;
}
.lastPara {
  width: 90%;
  margin: auto;
}
.totalEdit{
  border-bottom: 1px solid rgb(211, 207, 207);
  display: flex;
  width: 90%;
  margin: auto;
  padding: 20px;
  justify-content: space-between;
}
.totalItem{
  text-align: left;
  font-weight: bold;
  font-size: larger;
  
}
.btn4{
  text-decoration: underline;
}
.subTpay{
  border-top: 1px solid rgb(211, 207, 207);
  border-bottom: 1px solid rgb(211, 207, 207);
  width:90%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
 
}
.subTotal{
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
  width: 90%;
  margin: auto;
  
}
.sub_total{
 font-size: 14px;
  letter-spacing: 1px;
}
.sub_price{
  font-weight: 350;
  letter-spacing: 1px;
  
}
.totalPay{
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  margin-top: 27px;
}
.t_pay{
  font-weight: bold;
  letter-spacing: 2px;
}
.t_price{
  font-weight: bold;
  letter-spacing: 1px;
}
.addressD{
  font-weight: bold;
  text-align: left;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 30px;
  letter-spacing: 2px;
}